<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORTUNE-TELLER</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>What Satty say's for you today</h1>
   <form action="" method="POST">
      <input type="text" placeholder="E-mail" name ="mail" class="email">
      <div></div>
      <button type="submit" href= "endex.html" class="button62">MAIL IT</button>
   </form>
</body>
</html>